<div class="row mt-4">
    <div class="col-4">
        <img src="{{book.image_url}}" class="mb-2" alt="">
        <p>Pages: {{book.pages}}</p>
        <p>Rating: {{book.rating}}({{book.rating_count}})</p>
        <p>Genres: {{book.genres}}</p>
    </div>
    <div class="col-8">
        <h1>{{book.title}}</h1>
        <h3>{{authors}}</h3>
        <p>{{book.description}}</p>
        <a href="" class="mt-4">Find Review</a>
    </div>
</div>